<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
  >
</head>
<form method="get">
  {% for key, value in request.GET.items %}
    {% if key not in spec.filter_keys %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endif %}
    {% endfor %}
<label>
  학교 구분
  <select name="school_type">
    <option value="">학교 구분</option>
    {% for value, label in spec.school_type_lookups %}
      <option value="{{ value }}" {% if request.GET.school_type == value %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
  </select>
</label>
<label>
  전북대 여부
  <select name="is_jbnu">
    <option value="">전북대 여부</option>
    {% for value, label in spec.is_jbnu_lookups %}
      <option value="{{ value }}" {% if request.GET.is_jbnu == value %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
  </select>
</label>
<label>
  활성화 상태
  <select name="is_active">
    <option value="">활성화 상태</option>
    {% for value, label in spec.is_active_lookups %}
      <option value="{{ value }}" {% if request.GET.is_active == value %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
  </select>
</label>
  <button type="submit" style="font-size: 14px;">
  <i class="fa-solid fa-filter"></i> 필터 적용
</button>
</form>
